In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Importing data

In [2]:
my_data = pd.read_csv("/Users/mobilegalery/Desktop/projet_machine_learning/datasets/healthcare-dataset-stroke-data.csv")
my_data2 = pd.read_csv("/Users/mobilegalery/Desktop/projet_machine_learning/datasets/dataset.csv")
my_data3 = pd.read_csv("/Users/mobilegalery/Desktop/projet_machine_learning/datasets/stroke_data.csv")

# Processing data

In [3]:
def encode_gender(x):
    if(x=="Male" or x=="Other"):
        return 1
    if (x=="Female"):
        return 0
    return x

def encode_work_type(x):
    if(x=="Private"):
        return 4
    if(x=="Self-employed"):
        return 3
    if(x=="Govt_job"):
        return 2
    if(x=="children"):
        return 1
    if(x=="Never_worked"):
        return 0
    
def encode_residence_type(x):
    if(x=="Urban"):
        return 1
    if(x=="Rural"):
        return 0

def encode_smoking_status(x):
    if(x=="smokes"):
        return 1
    if(x in ["formerly smoked","never smoked","Unknown"]):
        return 0
    
def encode_marriage_status(x):
    if(x=="Yes"):
        return 1
    if(x=="No"):
        return 0

In [4]:
my_data["gender"]= my_data["gender"].apply(encode_gender)
my_data2["gender"]= my_data2["gender"].apply(encode_gender)
my_data3.rename(columns={'sex': 'gender'}, inplace=True)

In [5]:
my_data["work_type"]= my_data["work_type"].apply(encode_work_type)
my_data2["work_type"]= my_data2["work_type"].apply(encode_work_type)

In [6]:
my_data["Residence_type"]= my_data["Residence_type"].apply(encode_residence_type)
my_data2["Residence_type"]= my_data2["Residence_type"].apply(encode_residence_type)

In [7]:
my_data["smoking_status"]= my_data["smoking_status"].apply(encode_smoking_status)
my_data2["smoking_status"]= my_data2["smoking_status"].apply(encode_smoking_status)

In [8]:
my_data["ever_married"]= my_data["ever_married"].apply(encode_marriage_status)
my_data2["ever_married"]= my_data2["ever_married"].apply(encode_marriage_status)

In [9]:
my_data = my_data.drop(columns=['id'])
my_data2 = my_data2.drop(columns=['id'])

In [10]:
my_new_data = pd.concat([my_data, my_data2, my_data3], axis=0)
my_new_data.reset_index(drop=True, inplace=True)
my_new_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,67.0,0,1,1,4,1,228.69,36.6,0.0,1
1,0.0,61.0,0,0,1,3,0,202.21,NaN,0.0,1
2,1.0,80.0,0,1,1,4,0,105.92,32.5,0.0,1
3,0.0,49.0,0,0,1,4,1,171.23,34.4,1.0,1
4,0.0,79.0,1,0,1,3,0,174.12,24.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
89415,1.0,38.0,0,0,0,4,1,120.94,29.7,1.0,0
89416,0.0,53.0,0,0,1,4,0,77.66,40.8,0.0,0
89417,1.0,32.0,0,0,1,2,0,231.95,33.2,0.0,0
89418,1.0,42.0,0,0,1,3,0,216.38,34.5,0.0,0
89419,1.0,35.0,0,0,0,4,0,95.01,28.0,0.0,0

In [11]:
my_new_data.count()

gender               89417
age                  89420
hypertension         89420
heart_disease        89420
ever_married         89420
work_type            89420
Residence_type       89420
avg_glucose_level    89420
bmi                  87757
smoking_status       76128
stroke               89420
dtype: int64

In [12]:
my_new_data.bmi.fillna(my_data.bmi.mean().round(1), inplace=True)
my_new_data["gender"].fillna(0,inplace=True)
my_new_data['smoking_status'].fillna(np.random.choice([0, 1]), inplace=True)
my_new_data.count()

gender               89420
age                  89420
hypertension         89420
heart_disease        89420
ever_married         89420
work_type            89420
Residence_type       89420
avg_glucose_level    89420
bmi                  89420
smoking_status       89420
stroke               89420
dtype: int64

In [13]:
X = my_new_data.drop('stroke', axis=1)
y = my_new_data.stroke

In [14]:
from sklearn.model_selection import train_test_split

# First split: splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

# Second split: splitting the training set into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=42)

# Check the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_val shape:", X_val.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_val shape:", y_val.shape)
print("y_test shape:", y_test.shape)

X_train shape: (64605, 10)
X_val shape: (11402, 10)
X_test shape: (13413, 10)
y_train shape: (64605,)
y_val shape: (11402,)
y_test shape: (13413,)

# Training model

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

rf_clf = RandomForestClassifier(n_estimators=300, random_state=20)

# Train the model
rf_clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_clf.predict(X_val)

# Evaluate the model
print("Accuracy:", accuracy_score(y_val, y_pred))
print("Classification Report:")
print(classification_report(y_val, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_val, y_pred))

Accuracy: 0.9885984914927206
Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      0.99      8668
           1       0.99      0.97      0.98      2734

    accuracy                           0.99     11402
   macro avg       0.99      0.98      0.98     11402
weighted avg       0.99      0.99      0.99     11402

Confusion Matrix:
[[8632   36]
 [  94 2640]]

In [16]:
y_pred = rf_clf.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 0.9905315738462686
Confusion Matrix:
[[10193    45]
 [   82  3093]]

In [17]:
X_val.iloc[1]

gender                 0.00
age                   35.00
hypertension           1.00
heart_disease          1.00
ever_married           1.00
work_type              4.00
Residence_type         0.00
avg_glucose_level    271.74
bmi                   31.10
smoking_status         1.00
Name: 59675, dtype: float64

In [18]:
import pickle

data = {"model":rf_clf,"encode_gender":encode_gender,"encode_work_type":encode_work_type,"encode_residence_type":encode_residence_type,"encode_smoking_status":encode_smoking_status,"encode_marriage_status":encode_marriage_status}

with open('model.pkl', 'wb') as file:
    pickle.dump(data, file)